<div class="container-fluid">
  <div id="bannerDiv">
    <div id="banner" class="jumbotron">
      <div id="bannerContent">
        <h1 id="bannerTitle">SAVINGS FOR THE SUMMER</h1>
        <p>There's no better time than summer to give new staples a whirl. Try these summer
          favorites like cauliflower hash browns, Beyond Burger patties, dairy-free yogurt and more.</p>
        <button type="button"  id="allSalesButton" class="btn btn-success">
          See all sales
        </button><br><br>
      </div>
    </div>
  </div>
</div>
<br>
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <h3>Browse</h3>
      <p>Category</p>
      <li>
        <a href="#">All Products</a>
      </li>
      <li>
        <a href="#">Produce</a>
      </li>
      <li>
        <a href="#">Dairy & Eggs</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <div id="contentItems" class="row">
      </div>
    </div>
  </div>
</div>
