p {
  font-family: Arial;
}
#bannerDiv {
  margin-top: 100px;
  border: thin solid lightgrey;
}
#banner {
  margin-top: 60px;
  margin-bottom: 50px;
  border: thin solid lightgrey;
  width: 800px;
}
#bannerContent {
  margin-left: 50px;
}
#bannerTitle {
  font-family: "Marker Felt";
}
#allSalesButton {
  height: 45px;
  width: 125px;
}
#saleGroups {
  display: flex;
  justify-content: center;
}
.saleDiv {
  padding: 100px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 200px;
  height: 200px;
  padding: 10px 16px;
  border-radius: 100px;
  font-size: 12px;
  text-align: center;
}
