<div class="container-fluid">
  <div id="bannerDiv">
    <div id="banner" class="jumbotron">
      <div id="bannerContent">
        <h1 id="bannerTitle">SAVINGS FOR THE SUMMER</h1>
        <p>There's no better time than summer to give new staples a whirl. Try these summer
          favorites like cauliflower hash browns, Beyond Burger patties, dairy-free yogurt and more.</p>
        <button type="button"  id="allSalesButton" class="btn btn-success">
          See all sales
        </button><br><br>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div id="saleGroups" class="row">
    <div class="col-md-4 saleDiv">
      <button type="button" class="btn btn-success salesButton">
        <div class="sale">
          <p>SALE</p>
        </div>
      </button><br/><br/>
      <div class="description">
        <p>
          All Beyond Meat<br>
          Products<br>
          25% off!
        </p>
      </div>
    </div>
    <div class="col-md-4 saleDiv">
      <button type="button" class="btn btn-success salesButton">
        <div class="sale">
          <p>SALE</p>
        </div>
      </button><br/><br/>
      <div class="description">
        <p>
          Vegetarian and<br>
          Vegan items<br>
          25% off!
        </p>
      </div>
    </div>
    <div class="col-md-4 saleDiv">
      <button type="button" class="btn btn-success salesButton">
        <div class="sale">
          <p>SALE</p>
        </div>
      </button><br/><br/>
      <div class="description">
        <p>
          Fridays only! A hot<br>
          pizza deal.<br>
          Exclusions apply
        </p>
      </div>
    </div>
  </div>
</div>
